:root {
    /* Colors */
    --light-paper:       #fcfcfc;
    --light-text:        black;
    --light-magic:       #00a6ff;
    --light-box:         #eeeeee;
    --dark-paper:        #252525;
    --dark-text:         white;
    --dark-magic:        #006edb;
    --dark-box:          #666666;
    --high-magic:        #7acfff;
    --gray:              #808080;
    --box:               var(--light-box);

    /* Fonts */
    --prose: "Inter", "Helvetica", "Inter UI", "San Francisco", "SF Pro", "SF UI", "Avenir Next", "Avenir", "Arial", sans-serif;
    --heading: "Linux Biolinum", "Optima", "Linux Libertine", "Palatino", "Georgia", "Baskerville", serif;
}

body {
    margin: 0;
    float: none;

    background-color: var(--light-paper);
    color: var(--light-text);
    font-family: var(--prose);
    font-size: 18px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 24px 40px 24px;
}

img {
    max-width: 100%;
    aspect-ratio: 1 / 1;
}

canvas {
    width: 100%;
    max-width: 512px;
    aspect-ratio: 1 / 1;
}

a:not(.special) {
    color: var(--dark-magic);
    /* transition: background-color 200ms, color 200ms; */
}

a:focus:not(.special), a:hover:not(.special) {
    color: var(--light-magic);
    text-decoration: none;  /* Hides underline when under hover. */
}

.logo {
    font-size: 24px;
    margin: 0;
    padding: 24px 0;
    font-weight: bold;
    background-color: var(--dark-magic);

    font-family: var(--heading);
}

.wsname {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 24px;
}

.logo a {
    text-decoration: none;
    color: var(--dark-text);
}

.logo a:hover, .logo a:focus {
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
    :root{
        --box: var(--dark-box);
    }
    body {
        background-color: var(--dark-paper);
        color: var(--dark-text);
    }
    a:not(.special) {
        color: var(--light-magic);
    }
    a:focus:not(.special), a:hover:not(.special) {
        color: var(--high-magic);
    }
}

h1 {
    font-family: var(--heading);
    font-weight: 500;
}

.article {
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.5;
}

hgroup > time {
    float: right;
}

p > time {
    float: right;
}

.indexlink {
    font-size: 30px;
    line-height: 1;
}

.indexlink a {
    text-decoration: none;
}

details, blockquote {
    border-left: 3px solid var(--light-magic);
    padding: 10px 20px;
    margin: 0;
    background-color: #7777771f;
}

